01\_test-report.R
================
Greg
Tue Jan 15 18:03:45 2019

``` r
Data = installed.packages()
nrow(Data)
```

    ## [1] 134
